{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	</head>
	<body>
		<input id="teacher-name" type="hidden" value="{{teacher}}">

		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--3-col">
				<div class="teacher-card mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand placeholder">
						<h3 class="mdl-card__title-text"> Saumitra Bose </h3>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/teacher/Saumitra Bose/"> View details </a>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js"></script>
		<script src="{% static 'teacher.js' %}"></script>
	</body>
</html>